<div class="text-center m-5">
  <h1>WELCOME</h1>
  <h2><%= link_to "Start playing", new_path, class:"btn btn-primary mt-2" %></h2>
  <h2><%= link_to "Rules", rules_path, class:"btn btn-primary mt-2" %></h2>
</div>
