<div class="container mt-3">
  <h2>How to play?</h2>
  <p>The game is very simple. You will be given 10 letters and you have to write a valid word with them. The longest the word, the higher will be your score.</p>
  <p>Pay attention, you can not use the same letter twice, unless it is given to you.</p>
  <%= link_to "Start playing", new_path, class:"btn btn-primary mt-2" %>
</div>
